<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title><%= locals.title %></title>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <main class="mainContainer">
      <% if(locals.isLoggedIn) {  %>
      <form action="/" method="POST" class="newMessageForm">
        <fieldset class="newPostFieldSet">
          <legend>Write New Post <span>✍️</span></legend>
          <div class="formLabelAndInputCont">
            <label for="title">Title: </label>

            <input type="text" name="title" id="title" required/>
          </div>
          <div class="formLabelAndInputCont">
              <label for="message">Message: </label>
              <textarea name="message" id="message" class="messageTextArea" maxlength="500" required></textarea>
          </div>
          <div class="characterCountCont">

          </div>
          <button class="button-23 sendMsgBtn">Send Message</button>
        </fieldset>
      </form>
      <script>
        const characterLimit = 500;
        const messageTextArea = document.querySelector('.messageTextArea');
        const characterCountContainer = document.querySelector('.characterCountCont');
        let characterCount = messageTextArea.value.length;
        characterCountContainer.textContent = `Character count: ${characterCount}/${characterLimit}`;


        const characterCountHandler = (e) => {
            characterCount = messageTextArea.value.length;

            characterCountContainer.textContent = `Character Count: ${characterCount}/${characterLimit}`;
            if(characterCount > 500) {
                characterCountContainer.style.color = 'red';
            } else {
                characterCountContainer.style.color = '#fff';
            }

        };

        messageTextArea.addEventListener('keyup', characterCountHandler)
      </script>
      <% } else { %>
        <div class="mustBeLoggedInParaContainer">
          <p>To send a message you must be <a href="/form/log-in">logged in</a></p>
          <p>If you don't have and account, you can <a href="/form/sign-up">sign up</a> for one !</p>
        </div>
      <% } %>
      <section>
        <% if(locals.msgData) {  %>
          <ul class="msgUnorderedList">
            <!-- <a href="https://www.flaticon.com/free-icons/anonymous" title="anonymous icons">Anonymous icons created by Freepik - Flaticon</a> -->
            <% locals.msgData.forEach((item) => { %>
              <li class="messageGridContainer">
                <img href="https://www.flaticon.com/free-icons/anonymous" src="anonymous.png" alt="Anonymous User Profile Picture" class="msgUserProfilePic">
                <div class="msgHeadingAndTimeContainer">
                  <div>
                    <h3><%= item.title %></h3>
                    <p>Anonymous User</p>
                  </div>
                  <p><%= item.time_posted %></p>
                </div>
                <p class="msgPara"><%= item.message %></p>
                
              </li>
            <% }) %>
          </ul>
          <% } %>
      </section>
    </main>
  </body>
</html>